* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background-color: #e9e9ed;
  border: 1px dotted #999;
  border-left: 2px solid #999;
  border-right: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  padding: 0;
  text-align: center;
  width: 34px;

  /*   margin-right: -1px;
  margin-top: -1px; */
}

.square.active {
  background: #fff;
}

.controls,
.display > div {
  margin-bottom: 10px;
}
.display > div.error {
  background-color: lightcoral;
}
.display > div.warning {
  background-color: orange;
}
.display > div.highlight {
  background-color: gold;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.prize-legend {
}

.prize-legend-table {
}

.prize-legend-row-header > td {
  border: 2px solid black;
  text-align: center;
}

.prize-legend-row:not(:first-child) > td {
  border-bottom: 1px dashed gray;
  text-align: center;
}
